@import "./variables.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    font-family:var(--font-base);
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    height: 100dvh;
    width: 100%;
    background-color:var(--bg-dark);

    & div{
        display: flex;
        flex: 1;
        height: 80%;
    }
}

h1,h2,h3,h4,h5,h6,p,span {
    color: var(--color-text);
}