*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    height: 100dvh;
    width: 100%;
    background-color: rgb(14, 14, 14);

    & div{
        display: flex;
        flex: 1;
        height: 80%;
    }
}

h1,h2,h3,h4,h5,h6,p,span {
    color: #f0f0ef;
}