*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    background-color: rgba(216, 54, 54, 0.452);
}