.title {
    flex-direction: column;
    justify-content: center;
    /* background-color: blue; */

    & h1{
        font-size: 2.5rem;
    }

    & h2 {
        font-size: 2.5dvw;
    }

    & span {
        font-size: 3.8dvw;
        font-weight: bold;
    }
}

.title-complement{
    display: flex;
    /* background-color: aquamarine; */
    align-items: center;
    justify-content: center;
}