.title {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h1 {
        font-size: 2.5rem;
    }

    & h2 {
        font-size: 2.5dvw;
        font-weight: var(--font-regular);
    }

    & span {
        font-size: 3.8dvw;
        font-weight: bold;
    }
}

.title-complement {
    display: flex;
    align-items: center;
    justify-content: center;
}
