.wrapper {
    display: inline-flex;
    align-items: flex-end;
}

.text {
    white-space: pre-wrap;
}

.cursor {
    width: 0.3em;
    height: 1.1em;
    margin-left: 2px;
    background-color: currentColor;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
