.wrapper {
    display: inline-flex;
    align-items: flex-end;
    --textSize: 2rem;
}

.text {
    white-space: nowrap;
    font-size: var(--textSize);
}

.cursor {
    width: 0.3em;
    height: var(--textSize);
    margin-left: 2px;
    background-color: currentColor;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
